<%- include("./partials/header.ejs")%>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v17.0"></script>

<div class="container">
  <% if(locals.article) { %>
  <div class="container">
    <h2><%= article.name %></h2>
    <p><%= new Date(article.creation_date).toLocaleDateString("pl-PL", {
      weekday: "long",
      year: "numeric",
      month: "long",
      day: "numeric",
    }) %></p>
    <% if (article.photo_paths.length > 1) { %>
    <button id="size-switch-btn" class="btn btn-outline-light btn-lg" onclick="toggleGallerySize(this)">Powiększ galerię</button>
    <% } %>
    <div id="carousel-container" class="container">
      <div id="carousel-slider" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
        </div>
        <div class="carousel-inner">
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-slider" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-slider" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <p class="article-content"><%= article.content %></p>
    <div class="end-group">
      <button class="btn btn-success btn-lg" onclick="history.back();">Powrót do aktualności</button>
      <div class="fb-share-button" data-href="https://www.youtube.com/watch?v=f43nR8Wu_1Y&list=RDf43nR8Wu_1Y&index=1" data-layout="button_count"></div>
    </div>
  </div>
  <div id="single-article-container"></div>
  <% } else { %>
  <p>Article doesn't exist</p>
  <% }; %>
</div>

<script src="/components/article.js"></script>
<script>
  function createCarouselIndicator(status, index, target) {
    const btn = document.createElement("button");
    btn.setAttribute("type", "button");
    btn.setAttribute("data-bs-target", target);
    btn.setAttribute("data-bs-slide-to", index);
    btn.setAttribute("aria-label", `Slide ${index}`);
    if (status === true) {
      btn.classList.add("active");
      btn.setAttribute("aria-current", "true");
    }
    return btn;
  }

  function createCarouselItem(status, source) {
    const item = document.createElement("div");
    item.classList.add("carousel-item");
    if (status === true) {
      item.classList.add("active");
    }

    const image = document.createElement("img");
    image.classList.add("d-block", "w-100");
    image.setAttribute("src", source);

    item.appendChild(image);
    return item;
  }
</script>
<script>
  const articleJSON = <%- JSON.stringify(article)%>;
  const article = new Article(articleJSON);
  // $("#single-article-container").append(article.getDetailedPage());
  let galleryZoom = false;

  if (article.photoPaths.length === 1) {
    $("#carousel-container").remove();
  } else {
    $(".carousel-indicators").append(createCarouselIndicator(true, 0, "#carousel-slider"));
    $(".carousel-inner").append(createCarouselItem(true, article.photoPaths[0]));
    for (let index = 1; index < article.photoPaths.length; index++) {
      $(".carousel-indicators").append(createCarouselIndicator(false, index, "#carousel-slider"));
      $(".carousel-inner").append(createCarouselItem(false, article.photoPaths[index]));
    }
  }

  function toggleGallerySize(button) {
    const gallery = document.getElementById("carousel-container");
    gallery.classList.toggle("expanded");

    button.textContent = gallery.classList.contains("expanded") ?
      "Pomniejsz galerię" :
      "Powiększ galerię";
  }
</script>

<%- include("./partials/footer.ejs")%>